@import "variables";

body {
  font-family: $font-stack-primary;
  color: $body-colour;
  background-color: $bg-colour;

  -webkit-font-smoothing: antialiased;
  line-height: 1.8;

  padding: $padding;
}

section {
  width: $width;
  padding: $padding;
  margin: 0 auto;
}