body {
  font-family: $font-stack-primary;
  color: $body-colour;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;

  background-color: $bg-colour;
  padding: $padding;
}

section {
  width: $width;
  padding: $padding;
  margin: 0 auto;
}