html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}